.CreateDeviceModelConteiner {
  display: flex;
  margin: auto;
  height: 440px;
  width: 100%;

  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: inset 5px 5px 10px #1b1b1b, inset -5px -5px 18px #0095ff45;

  overflow-y: scroll;
  scroll-behavior: smooth;

  place-content: center;
  place-items: center;
  color: #ffffff;
}

.CreateDeviceModelConteiner::-webkit-scrollbar {
  display: none;
}

.CreateDeviceModelConteiner input,
select {
  padding: 10px;
  border-radius: 10px;
  border: none;
}

.CreateDeviceMacForm {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;

  background-color: rgba(128, 128, 128, 0.216);
  padding: 50px;
  border-radius: 10px;

  gap: 10px;

  height: 300px;
  width: 250px;

  box-shadow: 1px  .1px  5px rgb(165, 165, 165);;
}
.CreateDeviceMacForm::-webkit-scrollbar {
  display: none;
}

.HeaderCreateDeviceModel {
  display: flex;
  place-content: center;
  place-items: center;
}

.close {
  display: flex;
  place-content: center;
  place-items: center;

  width: 30px;
  height: 30px;

  position: absolute;
  top: 10px;
  right: 10px;

  color: black;
  font-weight: bolder;

  border: none;
  background: none;
}
.close:hover {
  box-shadow: 0px 0px 5px whitesmoke;
  border-radius: 100%;
}

.CreateButton {

  background: none;
  display: flex;
  place-content: center;
  place-items: center;
  gap: 5px;

  font-weight: bolder;
  color: rgb(255, 255, 255);

  padding: 10px;
  border-radius: 10px;

  text-align: center;

  margin: 0 20%;
  margin-top: 15px;

  border: 1px solid rgb(100, 100, 100);
  box-shadow: 1px 1px 5px rgb(98, 98, 98);
}

.CreateButton:hover {
  transition: ease-in-out 0.2s all;
  transform: translateY(2px);
  border: 1px solid rgb(100, 100, 100);
  box-shadow: 1px 1px 5px rgb(40, 40, 40);
}

.colorRed {
  border: rgba(255, 163, 163, 0.52) 2px solid !important;
  font-weight: bolder;
  background-color: #b60606;
}

/* get select and change color for then */
#Mode {
  color: white;
}

.inputColorBase:hover {
  background-color: #000000;
}
