.HeaderMacListConteiner {
  display: flex;
  background-color: dark;
  align-items: center;

  width: 100%;
  height: 30px;
  place-content: center;
  place-items:center ;


  font-weight: bolder;

  margin-top: 15px;
  margin-bottom: 5px;
}

.HeaderMacListConteiner h6::before{
  margin-right: 10px;
  text-align: left;
  content: " | ";

}
.HeaderMacListConteiner h6{
  flex: 1;
}

