.InteractiveLIConteiner {
  z-index: 2;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: aliceblue;
  height: 440px;
  width: 50%;
  border-radius: 5px;

  backdrop-filter: blur(100px);

  color: black;

  display: grid;
  place-items: center;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.DeviceInformationCenter {
  position: absolute;
  top: 5px;
  left: 10px;
}

.FielSpanConfig {
  display: flex;
  gap: 20px;
  border: 1px solid gray;
  border-radius: 8px;

  height: 50px;
  width: 120px;
  place-content: center;
  place-items: center;

  padding: 0 10px;
}

.ShowMoreInfoButton {
  border: none;

  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.RemoteAcessIcon {
  display: flex;
  place-content: center;
  place-items: center;
  font-weight: bolder;
}
/* defines color based on true or false remote acess status */
.WithoutRemoteAcess {
  background-color: red;
}
.WithRemoteAcess {
  background-color: green;
}

.RightConteinerSpan {
  z-index: 1;

  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);

  display: flex;
  padding: 0 15px;
  background-color: rgb(64, 128, 185);
  height: 440px;
  width: 10%;

  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}


.InvisibleField{
  opacity: 0;
}

.ButtonEdit{
  border: none;
  font-weight: bolder;

  box-shadow: 0px 1px 5px black;
}

.ButtonEdit:hover{
  box-shadow: 0px 1px 1pc black;
  transition: ease-in-out .2s;
  transform:  translateY(-2px);
}
