.MacListConteiner {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 440px;
  width: 100%;

  padding: 3px ;
  border-radius: 10px;
  background: #005dae transparent;
  box-shadow: inset 5px 5px 10px #1b1b1b, inset -5px -5px 18px #0095ff45;

  overflow-y: scroll;
  cursor: default;
  scroll-behavior: smooth;
}
.MacListConteiner::-webkit-scrollbar {
  display: none;
}

.MacListLi {
  display: flex;
  gap: 5px;
  width: 100%;
  height: 30px;

  place-content: left;
  place-items: center;

  font-size: 11px;
  font-weight: bold;

  margin-top: 5px;
  border-radius: 3px;
  cursor: default;
}

.MacListLi p {
  width: calc(100% / 8);
  flex: 1;
  text-align: left;
  padding-left: 6px;
  border-right: solid   1px gray; 
}

.MacListProblemOverflow {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



/* other small component, so i'll leave this code here */
.MacListEmpytList{
  display: flex;
  place-content: center;
  place-items: center;
  flex-direction: column;
  margin: auto;
  height: 440px;
  width: 100%;

  padding: 5px 10px;
  border-radius: 10px;
  background: #005dae transparent;
  box-shadow: inset 5px 5px 10px #1b1b1b, inset -5px -5px 18px #0095ff45;

  overflow-y: scroll;
  scroll-behavior: smooth;
}

.MacListEmpytList::-webkit-scrollbar {
  display: none;
}

.MacListEmpytListButton{
  padding: 5px;
  border-radius: 5px;
  color: #1b1b1b;
  font-weight: bolder;
}

.MacListEmpytListButton:hover {
  color: aliceblue;
  transition: ease-in-out 5ms;

  background-color:rgb(92, 92, 92);
  border-radius: 6px;

  border: none;
}

.notfound {
  margin: 0;
  padding: 0;
  
  height: 100px;
  width: 100px;
}

.remoteAccessTrue{
background-color: rgba(10, 182, 10, 0.65);
}