.SearchBarConteiner {
  display: flex;
  padding: 15px 0;
  gap: 15px;
}

#Categ {
  padding: 8px;
  border-radius: 8px;
  border: none;
  color: rgb(0, 0, 0);

}

#Categ:hover {
  color: rgb(0, 0, 0);
}



#SearchBarTextInput {
  padding: 0 8px;
  border-radius: 8px;
  border: none;
}

#SearchBarTextInput:hover {
  transition: ease-in-out 0.3s;

  background-color: rgb(252, 254, 255);
  box-sizing: inherit 1px 1px 11px black;
  color: black;
}

/* global button style */
.globalButtonStyle{
  border: 1px solid gray;
  transition: ease-in-out 0.3s;
  border-radius: 8px;
  padding: 0 10px;
  font-weight: bolder;
  font-size: 12px;
  display: flex;
  place-content: center;
  place-items: center;
  gap: 5px;
}
.globalButtonStyle:hover {
  background-color: whitesmoke;
  color: darkgray;
  font-weight: bolder;
  transition: ease-in-out 0.1s;
}
